@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Products</h2>
        <button id="GetProductsButton" class="btn btn-default">Get All Products</button>
        <div id="ProductsTemplate"></div>
    </div>
</div>
